#container{
    width: 94%;   /* container è contenuto nella pagina principale che ha dimensione 1440, dunque la  */
                    /*  larghezza(content+padding+border) è il 94% del totale della pagina -> 1440*94/100 = 1353,6 (escluso margin) */
    margin: 3%;    /*  il restante 6%(3%+3%) è il margin -> 1440*6/100 = 86,4 */
     /* se togliamo padding e border, il content ha larghezza 1203,63. Nel nostro caso il border = 0 */

}

#wrapperConteiner{
    padding: 3%;
    border: 2px solid #333;
    border-radius: 12px;
}

/*La domanda*/
#viewQuestion{
   text-align: center;
}

#blockAnswer{
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
}

#addImage{
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 40%;
}

#footer{
    padding: 3%;
}

#sendButton{
    padding-left: 15%;
}

.col-10{
    padding-left: 25px;
    padding-top: 2px;
}

#myStartStopDiv{
    text-align: center;
}
.myStartStopButton{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#myResultDiv{
    text-align: center;
    padding-top: 30px;
    /*align-self: center;*/
}

#myResetDiv{
    text-align: center;
    padding-top: 30px;
    /*align-self: center;*/
}


@media screen and (max-width: 700px) {
    #addImage{
        width: 90%;
        margin-left: 8%;
        float: left;
    }

    #sendButton{
        padding-left: 70%;
    }

}